<!DOCTYPE html>
{% extends 'base.html' %}
{% load ChoiceSubsystem_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
    <title>Travalers &mdash; </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="/static/choicePage/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/choicePage/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/choicePage/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/choicePage/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/choicePage/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/choicePage/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/static/choicePage/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/static/choicePage/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">


    <link rel="stylesheet" href="/static/choicePage/css/aos.css">

    <link rel="stylesheet" href="/static/choicePage/css/style.css">
{% endblock %}
  </head>
</head>
<body>
{% block navStyle %}navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light {% endblock %}
{% block body %}
        <div class="site-blocks-cover inner-page-cover" style="background-image: url(/static/choicePage/images/hero_bg_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">

            <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
              <h1 class="text-white font-weight-light">Destinations</h1>
              <div><a href="{% url 'home' %}">Home</a> <span class="mx-2 text-white">&bullet;</span> <span class="text-white">Destinations</span></div>

            </div>
          </div>
        </div>
      </div>







    <div class="site-section">
       <div class="container">
        {% for r in city_ids %}

        <div class="row">
            {% for id in r %}
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <a href="{% url 'preference'  id %}" class="unit-1 text-center">
                      <img src="/media/{{city_images|foo:id}}" alt="Image" class="img-fluid">
                      <div class="unit-1-text">
                        <strong class="text-primary mb-2 d-block">See Preferences</strong>
                        <h3 class="unit-1-heading">{{ city_names|foo:id }}</h3>
                      </div>
                    </a>
                  </div>
            {% endfor %}
         </div>

         {% endfor %}
        </div>

</div>








{% endblock %}
{% block js %}






  <script src="/static/choicePage/js/jquery-3.3.1.min.js"></script>
  <script src="/static/choicePage/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/choicePage/js/jquery-ui.js"></script>
  <script src="/static/choicePage/js/popper.min.js"></script>
  <script src="/static/choicePage/js/bootstrap.min.js"></script>
  <script src="/static/choicePage/js/owl.carousel.min.js"></script>
  <script src="/static/choicePage/js/jquery.stellar.min.js"></script>
  <script src="/static/choicePage/js/jquery.countdown.min.js"></script>
  <script src="/static/choicePage/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/choicePage/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/choicePage/js/aos.js"></script>

  <script src="/static/choicePage/js/main.js"></script>
{% endblock %}
</body>
</html>