<!DOCTYPE html>
{% load ChoiceSubsystem_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/Vertical%20Timeline/main.css" />
</head>
<body>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <div id="content">
    {% for city in cityName %}
        <h1> {{ city }} travel description: </h1>


        {% with desc=description_data|foo:city %}
        {% with distance=distance_data|foo:city %}
        {% with time=time_data|foo:city %}
        {% with weather=weather_data|foo:city %}
            <h2> {{ city }} weather forecast: {{ weather }} </h2>
            <ul class="timeline">
                {% for key, desclist in desc.items %}
                    <li class="event" data-date="{{ key }}">
                    <h3>{{ key }} description </h3>
                    {% with distancelist=distance|foo:key %}
                    {% with timelist=time|foo:key %}
                    {% with len=distancelist|length:10 %}
                        <ul>
                            {% for c in 0|range:len %}
                                <p> {{desclist|foo:c}} ______ {{ timelist|foo:c }} ______ {{ distancelist|foo:c }}
                                </p>
                            {% endfor %}
                        </ul>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    </li>

                {% endfor %}
            </ul>
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}


    {% endfor %}
    </div>

</body>
</html>