<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% block navStyle %}navbar navbar-expand-sm bg-dark navbar-dark ftco_navbar  {% endblock %}
{% block body %}
<h1>LOGIN PAGE</h1>
   {% for message in messages %}

                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
   {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>

{% endblock %}
</body>
</html>